#box{
    background-color: black;
    color: aliceblue;
    width: 200px;
    height: 400px;
    border-radius: 2px;
}
.mypara{

    color: brown;
    font-size: 20px;
}
.mypara2{
    color: chartreuse;
    font-size: 30px;
}